/* Global */
/* ================================================================================== */
*{
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: beige !important;
  font-family: "Kumbh Sans", sans-serif;
}

h2,
p,
#card-footer {
  text-align: center;
  margin-top: 25px;
}
/* ================================================================================== */

/* Nav bar styling */
/* ================================================================================== */
.bg-light {
  background-color: #886dbd !important;
  border: 2px solid #7049ab;
}

.navbar-brand,
.navbar-text,
.active-page {
  color: white !important;
}

li a {
  margin-right: 5px;
}

li a:hover {
  box-shadow: 0 0 3px 1px;
}
/* ================================================================================== */

/* page body */
/* ================================================================================== */
#main-container  {
  min-height: calc(
    100vh - 90px
  );
}

#card-container {
  border: 3px outset #886dbd;
  box-shadow: 0 0 3px 1px;
  border-radius: 40px;
  margin-top: 30px;
  /* min-height: 50vw; */
  padding: 30px;
  background-color: #ffffff;
}

#timer-readout {
  text-align: center;
  justify-content: center;
  padding-top: 13px;
  padding-bottom: 7px;
  color: white;
  background-color: #40b3a1;
  border-radius: 20px;
  font-size: 20pt;
  min-width: 110px;
  display: flex; /*Aleks pls explain*/
  position: absolute;
  top: 80px;
  right: 10px;
  margin-left: auto;
  margin-right: 0;
}

h2 {
  color: #3d0066;
}

hr {
  border-top: 3px solid #886dbd;
}

#question-prompt-text {
  /* border: 2px solid orange; */
  margin-bottom: 20px;
  font-size: larger;
}

/* ================================================================================== */

/* Buttons */
/* ================================================================================== */
/* Styling the start button */
.btn-primary {
  background-color: #3d0066 !important;
  border-color: #7049ab;
}
.btn-primary:hover {
  background-color: #7049ab !important;
}
.btn-primary:active {
  background-color: #3d0066 !important;
}



/* styling other buttons*/
/* btn-success styles correct answers */
.btn-success {
  color: #white !important;
  min-width: 50%;
  margin: 0 auto;
}
/* btn-danger styles incorrect answers */
.btn-danger {
  color: #white !important;
  min-width: 50%;
  margin: 0 auto;
}
/* Next question button */
.btn-outline-info {
  color: #886dbd;
  border-color: #886dbd;
  min-width: 50%;
  margin: 0 auto;
}
.btn-outline-info:hover {
  background-color: #886dbd;
  border-color: #886dbd;
  /* margin-left:50px; */
}

/* TODO: I would like these to be centered and only the necessary width for content */
.btn-stack {
  /* border: 2px solid purple; */
  display: grid !important;
  gap: 10px;
}

.hide {
  display: none !important;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #00000060;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}

.modal-active {
  visibility: visible;
  opacity: 1;
}

#game-over-mod,
#scoreboard-mod {
  background-color: white !important;
  border-style: outset;
  border-radius: 25px;
  color: #3d0066;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  min-width: 50%;
  min-height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  overflow-x: auto;
  /* border: 2px solid yellow; */
}

.submit-btn {
  margin-top: 25px;
  background-color: #dba8ac;
}

.submit-btn:hover {
  background-color: #cc92c2;
}

#gom-close-button, #scoreMod-close-button {
  position: absolute;
  top: 10px;
  left: 20px;
  font-weight: bold;
  font-size: 20pt;
  cursor: pointer;
  /* border: solid 2px yellow; */
}

/* Footer */
footer {
  border-top: 6px solid #7049ab;
  background-color: #dba8ac;
  position: relative;
  height: 55px;
  margin-top: -55px; /* Without this negative margin, the footer will always load JUST out of sight. By giving it a negative margin that is the same height as the footer itself, it is repositioned back onto the page. */
  clear: both; /* essentially a line break for floating*/
}

#footermain {
  /* I fetched this block from https://www.w3schools.com/css/css_align.asp */
  width: 100%;
  color: #3d0066;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); 
}