/* btn-danger is going to be for wrong answers */
/* btn-success is going to be for right answers */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #e2e2c6!important;
    font-family: 'Kumbh Sans', sans-serif;
}

h2, p, #card-footer {
    text-align: center;
    margin-top: 25px;
}

.bg-light{
    background-color: #886dbd!important;
    border: 2px solid #7049ab;
}

.navbar-brand, .navbar-text, .active-page {
color: white!important;
}

li a {
    margin-right: 5px;}

li a:hover{
    box-shadow: 0 0 3px 1px;
}

.navbar-text{
    padding-left: 15px;
    padding-right: 15px;
    background-color: #40B3A1;
    border-radius:10px;
}

#main-container{
    border: 3px outset #3d0066;
    box-shadow: 0 0 3px 1px;
    border-radius:10px;
    margin-top: 30px;
    /* min-height: 50vw; */
    padding: 30px;
    background-color:#ffffff;
}

h2 {
    color:#3d0066;
}

hr {
    border-top: 3px solid #886dbd;
}

#question-prompt-text{
    border: 2px solid orange;
    margin-bottom: 20px;
    font-size: larger;
}


/* TODO: I would like these to be centered and only the necessary width for content */
.btn-stack{
    border: 2px solid purple;
    display: grid!important;
    gap: 10px;
}

.hide{
    display:none!important;
}

/* #intro-slide{
    border-style: ridge;
    border-radius: 5px;
    max-width: 700px;
    justify-content: center;
    algin-items: center;
} */