/* btn-danger is going to be for wrong answers */
/* btn-success is going to be for right answers */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #e2e2c6!important;
    font-family: 'Kumbh Sans', sans-serif;
}

h2, p, #card-footer {
    text-align: center;
    margin-top: 25px;
}

.bg-light{
    background-color: #886dbd!important;
    border: 2px solid #7049ab;
}

.navbar-brand, .navbar-text, .active-page {
color: white!important;
}

li a {
    margin-right: 5px;}

li a:hover{
    box-shadow: 0 0 3px 1px;
}

.navbar-text{
    padding-left: 15px;
    padding-right: 15px;
    background-color: #40B3A1;
    border-radius:20px;
}

#main-container{
    border: 3px outset #3d0066;
    box-shadow: 0 0 3px 1px;
    border-radius:40px;
    margin-top: 30px;
    /* min-height: 50vw; */
    padding: 30px;
    background-color:#ffffff;
}

h2 {
    color:#3d0066;
}

hr {
    border-top: 3px solid #886dbd;
}


/* #card-body{
    position: absolute;
} */

#target-me{
    border: 2px solid transparent;
    width: 100px;
}


#timer-readout{ /* TODO: get this to justify right */
    /* border: 2px solid yellow; */
    min-height: 0px;
    float: right;
    text-align: center;
    /* position: relative; */
    /* top: 0; */
    /* left: 0; */
}

.badge{
    font-size: 15pt;
}

/* Start button Styling */
.btn-primary{
    background-color: #3d0066!important;
    border-color: #7049ab;
}
.btn-primary:hover{
    background-color:#7049ab!important;
}
.btn-primary:active{
    background-color:#3d0066!important;
}

/* Answer buttons styling */
.btn-success {
    color:#white!important;
}
.btn-danger {
    color:#white!important;
}

/* Next button styling */
.btn-outline-info{
    color:#886dbd;
    border-color:#886dbd;
}
.btn-outline-info:hover{
    background-color:#886dbd;
    border-color:#886dbd;
}

#question-prompt-text{
    /* border: 2px solid orange; */
    margin-bottom: 20px;
    font-size: larger;
}

/* TODO: I would like these to be centered and only the necessary width for content */
.btn-stack{
    /* border: 2px solid purple; */
    display: grid!important;
    gap: 10px;
}

.hide{
    display:none!important;
}

.game-over-modal-parent, .scoreboard-modal-parent{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #00000060;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .3s;
}

.modal-active{
    visibility: visible;
    opacity: 1;
}

#game-over-mod{
    background-color: white!important;
    border-style: outset;
    border-radius: 25px;
    color:#3d0066;
    padding-top: 25px;
    padding-bottom: 25px;
    position:relative;
    width: 50%;
    min-height: 35%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid yellow; */
}

.submit-btn{
    margin-top: 25px;
}

.modal-close-button{
    position: absolute;
    top: 10px;
    left: 20px;
    font-weight:bold;
    font-size: 20pt;
    cursor: pointer;
    /* border: solid 2px yellow; */
}